/* 게시글 전체 영역 */
.main {
  width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fffdf9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Arial', sans-serif;
}
.post-container {
  width: auto;
  margin: 30px auto;
  padding: 20px;
  background-color: #fffdf9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Arial', sans-serif;
}

.post-container-origin {
  margin: 10px auto;
  padding: 10px;
  background-color: #fffdf9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Arial', sans-serif;
}

.post-container-inside {
  width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fffdf9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Arial', sans-serif;
}

/* 게시글 제목 */
.post-container h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

/* 게시글 본문 내용 */
.post-container .post-content {
  font-size: 16px;
  color: #444;
  white-space: pre-line; /* 줄바꿈 & 공백 보존 */
}

/* 게시글 버튼*/
.load-content {
  margin: 10px;
  text-align: center;
}

.btx-align {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btx-align .left {
  text-align: start;
}

.btx-align .right {
  text-align: end;
}